# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/

# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*.vspscc
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml
